[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.rastahale.academy",
      "sha256_cert_fingerprints": [
        "SUBSTITUA_PELA_SHA256_DO_KEYSTORE_QUE_ASSINA_O_APP"
      ]
    }
  }
]
